nav,
main {
  padding: 24px;
}

nav {
  background-color: #ffcc80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

nav a h2,h5 {
  color: #ffffff;
  margin: 0;
}

nav ul {
  list-style: none;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 4px;
}

section {
  margin: 2rem 0;
}

textarea {
  height: 200px;
  width: 100%;
  vertical-align: top;
}

button {
  border: none;
  color: #fff;
  background-color: #039be5;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 0.9rem;
}

input {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 0.25rem
}

.card {
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 24px;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 16px;
}

.card-content a {
  display: inline-block;
  margin-top: 12px;
}

.card-date {
  color: #ff6d00;
}

.modal {
  background-color: #fff;
  padding: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffca37;
  background: -moz-linear-gradient(left, #ffca37 10%, rgba(255,202,55, 0) 42%);
  background: -webkit-linear-gradient(left, #ffca37 10%, rgba(255,202,55, 0) 42%);
  background: -o-linear-gradient(left, #ffca37 10%, rgba(255,202,55, 0) 42%);
  background: -ms-linear-gradient(left, #ffca37 10%, rgba(255,202,55, 0) 42%);
  background: linear-gradient(to right, #ffca37 10%, rgba(255,202,55, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffca37;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #effff6;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}